:root {
	--basic-red: #EE3643;
	--basic-black: #000000;
	--basic-green: #63A63E;
	--basic-greendarky: #367315;
	--basic-greydark: #293449;
	--basic-greydarky: #212A3A;
	--basic-grey: #3D546F;
	--basic-grey-darklighty: #32425C;
	--basic-grey-darklight: #405069;
	--basic-greylight: #C5C5C5;
	--basic-yellowlight: #F9F5F0;
	--basic-yellowlighty: #F7F3EC;
	--basic-greylighty: #F1F5F7;
	--basic-grey-verylighty: #E5E5E5;
	--basic-grey-verylight: #F2F6F8;
	--basic-grey-middlelight: #ABABAB;
	--basic-white: #FFFFFF;
	--basic-yellow: #FFC047;
	--basic-whitetranslucent: rgba(255, 255, 255, 0.3);
	--basic-greytranslucent: rgba(0, 0, 0, 0.25);
	--special-yellow: #FFBF47;
	--special-yellowlighty: #F4F4F4;
	--special-black: #444444;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-green: #5FBB2D;
	--special-greenlight: #00ca74;
	--special-greendarky: #518534;
	--special-greydark: #161D29;
	--special-redlight: #CA2C37;
	--special-red: #BA2732;
	--special-iron: #D7DCDE;
	--special-greylight: #EAEAEA;
	--special-greydarky: #A9A9A9;
	--special-grey-verylighty: #B5B5B5;
	--special-greylighty: #F3F7F9;
	--special-grey-verylight: #CFCFCF;
	--special-greytranslucent: rgba(0, 0, 0, 0.15);
	--special-whitetranslucent: rgba(255, 255, 255, 0.5);
}

/* cuprum-regular - latin_cyrillic */
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum Regular'), local('Cuprum-Regular'),
		 url('../fonts/cuprum-v12-latin-cyrillic-regular.woff2') format('woff2'),
		 url('../fonts/cuprum-v12-latin-cyrillic-regular.woff') format('woff');
	font-display: swap;
}
/* cuprum-700 - latin_cyrillic */
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 700;
	src: local('Cuprum Bold'), local('Cuprum-Bold'),
		 url('../fonts/cuprum-v12-latin-cyrillic-700.woff2') format('woff2'),
		 url('../fonts/cuprum-v12-latin-cyrillic-700.woff') format('woff');
	font-display: swap;
}
/* cuprum-italic - latin_cyrillic */
@font-face {
	font-family: 'Cuprum';
	font-style: italic;
	font-weight: 400;
	src: local('Cuprum Italic'), local('Cuprum-Italic'),
		 url('../fonts/cuprum-v12-latin-cyrillic-italic.woff2') format('woff2'),
		 url('../fonts/cuprum-v12-latin-cyrillic-italic.woff') format('woff');
	font-display: swap;
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'),
		 url('../fonts/pt-sans-v12-latin-cyrillic-regular.woff2') format('woff2'),
		 url('../fonts/pt-sans-v12-latin-cyrillic-regular.woff') format('woff');
	font-display: swap;
}
  /* pt-sans-700 - latin_cyrillic */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		 url('../fonts/pt-sans-v12-latin-cyrillic-700.woff2') format('woff2'),
		 url('../fonts/pt-sans-v12-latin-cyrillic-700.woff') format('woff');
	font-display: swap;
}

body {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.visibility-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	background-color: var(--basic-greydark);
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	height: 42px;
}

.flexible {
	display: flex;
}

.flexible-column {
	display: flex;
	flex-direction: column;
}

.flexible-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexible-relativity-end {
	display: flex;
	position: relative;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.flexible-between-center {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flexible-centered {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flexible-between-start {
	align-items: start;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flexible-start-center {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.flexible-between-end {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.button {
	border: 0;
	background: none;
	padding: 0;
	cursor: pointer;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.field {
	background-color: inherit;
	border: 0;
}

.field::placeholder {
	color: var(--basic-white);
}

.search-input-wrapper {
	position: relative;
}

.search-input-wrapper svg {
	top: 12px;
	left: 18px;
	position: absolute;
}

.search-input-wrapper .icon-search {
	fill-opacity: 0.3;
	fill: var(--basic-white);
}

.search-input-wrapper:hover .icon-search {
	fill-opacity: 1;
}

.field-search:focus + .icon-search {
	fill: var(--basic-red);
	fill-opacity: 1;
}

.field-search {
	width: 271px;
	text-indent: 41px;
	height: 42px;
}

.field-search:focus {
	background-color: var(--basic-white);
}

.bookmarks-count {
	width: 150px;
	text-decoration: none;
	text-align: center;
	color: var(--basic-white);
	padding: 9px 6px 0 9px;
	margin: 0;
	position: relative;
}

.product-cart-count {
	width: 136px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color: var(--basic-white);
	padding: 10px 0 0 11px;
	margin: 0;
	position: relative;
}

.product-cart-not-empty {
	background-color: var(--basic-red);
}

.bookmarks-count:hover::before,
.product-cart-count:hover::before {
	opacity: 1;
}

.product-cart-count::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 11px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmarks-count::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 19px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.button-order {
	background-color: var(--basic-green);
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	height: 42px;
	padding-left: 19px;
	padding-right: 16px;
}

.button-order:hover,
.button-buy:hover {
	background-color: var(--special-green);
}

.button-order:active {
	color: var(--special-whitetranslucent);
}

.bookmarks-count:active,
.product-cart-count:active  {
	background-color: var(--special-greydark);
	color: var(--special-whitetranslucent);
}

.bookmarks-count:active::before,
.product-cart-count:active::before {
	opacity: 0.3;
}

.main-subheader {
	padding: 44px 0 60px 0;
	background-color: var(--basic-greylighty);
}

.account-action {
	margin-left: auto;
	margin-top: 2px;
}

.store-description {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	margin: 0 93px 0 30px;
}

.subheader-contacts-phone-wrapper {
	border: 3px solid var(--basic-white);
	padding: 7px 45px 8px 74px;
}

.subheader-contacts-phone-link {
	position: relative;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	text-decoration: none;
}

.subheader-contacts-phone-link::before {
	content: "";
	top: 3px;
	left: -36px;
	position: absolute;
	width: 17.5px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.subheader-contacts-address {
	margin: 0;
	padding: 0 10px;
	line-height: 24px;
	color: var(--basic-grey-darklighty);
}

.cabinet {
	margin-left: 51px;
}

.profile {
	width: 228px;
	padding: 14px 10px 13px 10px;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.log-out {
	background-color: var(--basic-white);
	padding: 16px 20px 15px 6px;
}

.user-menu {
	margin-top: 7px;
}

.user-menu li:not(:first-child) {
	padding-left: 32px;
	position: relative;
}

.user-menu-item {
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	color: inherit;
}

.user-menu li:not(:first-child)::after {
	content: ".";
	position: absolute;
	top: -7px;
	left: 11px;
	font-size: 30px;
	font-family: "PT Sans", Arial, sans-serif;
	color: inherit;
	border-radius: 50%;
}

.sign-in {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding: 12px 27px 12px 47px;
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	text-decoration: none;
}

.sign-up {
	display: inline-block;
	vertical-align: baseline;
	padding: 12px 24px;
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	text-decoration: none;
	margin-left: 8px;
}

.sign-in svg {
	position: absolute;
	top: 13px;
	left: 18px;
}

.sign-in:hover,
.sign-up:hover,
.user-menu:hover {
	color: var(--basic-red);
}

.sign-in:hover path,
.profile:hover path,
.log-out:hover path  {
	fill: var(--basic-grey);
}

.sign-in:active,
.sign-up:active,
.profile:active, 
.user-menu:active {
	color: var(--basic-greylight);
}

.sign-in:active path,
.profile:active path,
.log-out:active path {
	fill: var(--basic-greylight);
}

.main-nav {
	padding: 0;
	margin-top: 40px;
	background-color: var(--basic-grey-darklighty);
	font-size: 18px;
	line-height: 24px;
}

.site-nav {
	box-shadow: inset 0 -5px 0 var(--basic-greydark);
}

.nav-item a {
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	padding: 16px 28px 20px;
	text-decoration: none;
	color: var(--basic-white);
}

.nav-item:first-child a {
	padding-left: 53px;
}

.nav-item:last-child a {
	padding-right: 53px;
}

.site-nav a:hover {
	background-color: var(--basic-greydark);
}

.site-nav a:active {
	opacity: 0.5;
}

.assortment {
	display: grid;
	row-gap: 20px;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: min-content min-content min-content;
	margin-bottom: 59px;
	margin-top: 59px;
}

.assortment-product-list {
	grid-row: 1;
    grid-column: 1 / -1;
}

.assortment-service-list {
	flex-direction: column;
	grid-row: 2 / span 2;
	grid-column: 3;
}

.assortment-item {
	position: relative;
	box-sizing: border-box;
	padding: 20px 32px 22px 20px;
	width: 300px;
}

.badge-new::after {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url("../img/badge-new.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item-materials::before {
	content: "";
	width: 44px;
	height: 65px;
	position: absolute;
	top: 30px;
	right: 42px;
	background-image: url("../img/icon-materials.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item-tools::before {
	content: "";
	width: 75px;
	height: 61px;
	position: absolute;
	top: 34px;
	right: 32px;
	background-image: url("../img/icon-tools.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item-machinery::before {
	content: "";
	width: 78px;
	height: 62px;
	position: absolute;
	top: 32px;
	right: 32px;
	background-image: url("../img/icon-machinery.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item-discount::before {
	content: "";
	width: 59px;
	height: 72px;
	position: absolute;
	top: 25px;
	right: 45px;
	background-image: url("../img/icon-discount.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item-delivery::before {
	content: "";
	width: 78px;
	height: 63px;
	position: absolute;
	top: 33px;
	right: 32px;
	background-image: url("../img/icon-delivery.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.assortment-item h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
	margin-top: 0;
	margin-bottom: 12px;
}

.assortment-item-materials {
	background-color: var(--special-yellow);
}

.assortment-item-tools {
	background-color: var(--special-blue);
}

.assortment-item-machinery {
	background-color: var(--special-lilac);
}

.assortment-item-discount {
	background-color: var(--special-greenlight);
}

.assortment-item-delivery {
	background-color: var(--basic-yellow);
}

.assortment-item-link {
	display: inline-block;
	vertical-align: baseline;
	width: 135px;
	padding: 10px 0;
	text-align: center;
	background-color: var(--basic-whitetranslucent);
	color: var(--basic-white);
	text-transform: uppercase;
	text-decoration: none;
}

.assortment-item-link:hover {
	background-color: var(--basic-greylight);
	opacity: 0.3;
}

.assortment-item-link:active {
	background-color: var(--special-greydarky);
	opacity: 0.3;
}

.product-info-wrapper {
	padding: 23px 24px 16px;
	background-color: var(--basic-greytranslucent);
}

.product-info-caption {
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.product-info-description {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.attention-link {
	display: inline-block;
	vertical-align: baseline;
	width: 192px;
	background-color: var(--basic-red);
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--basic-white);
}

.attention-link:hover {
	background-color: var(--special-redlight);
}

.attention-link:active {
	background-color: var(--special-red);
}

.popular-caption-wrapper {
	padding: 25px 19px 26px 28px;
	background-color: var(--basic-yellowlight);
	margin-bottom: 20px;
}

.catalog-product-caption {
	color: var(--basic-grey-darklighty);
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.popular-caption {
	color: var(--basic-grey-darklighty);
}

.button-buy {
	width: 135px;
	padding: 11px 34px 9px 33px;
	text-transform: uppercase;
	color: var(--basic-white);
	text-align: center;
	background-color: var(--basic-green);
	border-radius: 2px;
	box-shadow: inset 0 -3px 0 var(--basic-greendarky);
}

.button-buy:active {
	background-color: var(--special-greendarky);
}

.button-bookmarks {
	width: 135px;
	padding: 11px 34px 9px 33px;
	border-radius: 2px;
	border: 3px solid var(--basic-green);
	text-transform: uppercase;
	color: var(--basic-grey-darklighty);
	box-sizing: border-box;
}

.button-bookmarks:hover {
	border-color: var(--basic-grey-darklighty);
}

.button-bookmarks:active {
	opacity: 0.5;
	filter: drop-shadow(0 4px 4px var(--basic-greytranslucent));
}

.product-item {
	position: relative;
	border: 1px solid var(--special-greylight);
	box-sizing: border-box;
	width: 220px;
	min-height: 318px;
	margin-bottom: 18px;
	padding-bottom: 21px;
}

.product-image-resize {
	width: 184px;
	min-height: 170px;
	object-fit: contain;
	max-width: 100%;
	margin-bottom: 8px;
}

.product-action-wrapper {
	box-sizing: border-box;
	padding-top: 38px;
	width: 135px;
	height: 170px;
	display: none;
	margin-bottom: 8px;
}

.product-action-wrapper button:not(:first-child) {
	margin-top: 10px;
}

.product-name {
	text-align: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	padding: 0 30px;
	word-break: break-word;
	font-size: 18px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 7px;
	flex-grow: 1;
}

.product-old-price {
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--special-greydarky);
	margin-top: 0;
	margin-bottom: 13px;
}

.product-discount-price-wrapper {
	text-align: center;
	padding: 10px 0;
	width: 140px;
	background-image: url("../img/discount.svg");
}

.product-discount-price {
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	margin: 0;
}

.product-item:hover {
	box-shadow:0px 4px 4px var(--basic-greytranslucent);
}

.product-item:hover .product-action-wrapper {
	display: block;
}

.product-item:hover .product-image-resize {
	display: none;
}

.manufacturers-list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 145px;
	border: 1px solid var(--special-greylight);
	box-sizing: border-box;
	margin-bottom: 20px;
}

.manufacturers-list-item:hover {
	box-shadow: 0 4px 20px var(--special-greytranslucent);
}

.manufacturers-list-item:active {
	box-shadow: 0 4px 20px var(--special-greytranslucent);
	opacity: 0.5;
}

.section-caption {
	margin: 0 0 25px 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.popular-caption-wrapper .section-caption {
	margin: 0;
}

.section-wrapper {
	margin-bottom: 50px;
}

.two-sided-section-wrapper {
	margin-top: 70px;
	margin-bottom: 70px;
}

.slider-caption {
	color: var(--basic-grey-darklighty);
	margin-bottom: 30px;
}

.description {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	margin: 0;
}

.services {
	padding-top: 67px;
	background-color: var(--basic-greylighty);
}

.tab-service {
	width: 240px;
	text-align: left;
	padding: 13.5px 22px 17.5px;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	vertical-align: baseline;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 21px;
	color: var(--basic-white);
	background-color: var(--basic-grey-darklighty);
	box-shadow: 0px 1px 0px var(--basic-greydark), inset 0px 1px 0px var(--basic-grey-darklight);
}

.tab-service:hover {
	background-color: var(--basic-greydark);
	color: var(--basic-white);
	box-shadow: none;
}

.tab-service-active {
	background-color: var(--basic-white);
	color: var(--basic-grey-darklighty);
	box-shadow: none;
}

.partners-list li {
	padding-left: 38px;
	background: url("../img/stripe.svg") 0 10px no-repeat;
	font-size: 18px;
	line-height: 24px;
}

.partners-list li:not(:first-child) {
	margin-top: 12px;
}

.about-company {
	width: 460px;
}

.about-company-description {
	margin-bottom: 25px;
}

.transport-company-description {
	margin-bottom: 3px;
}

.about-company .attention-link {
	width: 220px;
	margin-top: 20px;
}

.contacts .description {
	margin-bottom: 32px;
}

.contacts .attention-link {
	width: 300px;
	margin-top: 20px;
}

.contacts {
	width: 300px;
}

.footer-top-container {
	padding-bottom: 40px;
	background-color: var(--basic-grey-darklighty);
}

.footer-nav {
	margin-bottom: 4px;
	width: 549px;
}

.footer-product-list {
	width: 525px;
	margin-bottom: 5px;
}

.footer-nav a {
	color: var(--basic-greylighty);
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
}

.footer-nav a:hover,
.footer-product-list a:hover {
	text-decoration: underline;
}

.footer-nav a:active,
.footer-product-list a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-contacts-info {
	margin-bottom: 12px;
    margin-top: 23px;
    margin-left: 4px;
	font-size: 18px;
	line-height: 24px;
	color: var(--special-greylighty);
}

.footer-product-list a {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--special-yellowlight);
}

.footer-bottom-container {
	padding: 36px 0 34px;
	background-color: var(--basic-greydark);
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.feedback {
	margin: 0 53px 0 0;
}

.developed {
	margin: 0;
}

.footer-bottom-link {
	color: var(--special-yellowlight);
	text-decoration: none;
}

.footer-bottom-link:hover {
	text-decoration: underline;
}

.footer-bottom-link:active {
	color: var(--basic-red);
	text-decoration: none;
}

.copyright {
	margin: 0 163px 0 0;
}

.social-link {
	display: inline-block;
	vertical-align: baseline;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--basic-greydarky);
}

.icon-vk {
	background-image: url("../img/vk-logo.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url("../img/facebook-logo.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url("../img/instagram-logo.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.social-link:hover {
	background-color: var(--basic-red);
}

.social-network {
	margin-right: 117px;
}

.social-network-list li:not(:first-child) {
	margin-left: 1px;
}

.breadcrumbs {
	padding-top: 21px;
	padding-bottom: 20px;
}

.breadcrumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: var(--basic-black);
	text-decoration: none;
}

.breadcrumbs li:not(:first-child) {
	position: relative;
	margin-left: 41px;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";
	position: absolute;
	width: 7px;
	height: 11px;
	left: -25px;
	top: 3px;
	background-image: url("../img/icon-right-small.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.catalog-product-caption-wrapper {
	box-sizing: border-box;
	padding: 29px 29px 30px;
	margin-bottom: 20px;
	background-color: var(--basic-grey-verylight);
}

.sort-option-list {
	padding: 0 42px 0 20px;
	flex-grow: 1;
}

.catalog-sort {
	margin-bottom: 28px;
}

.sort-direction-wrapper {
	width: 61px;
	box-sizing: border-box;
    padding-right: 17px;
    padding-left: 2px;
}

.catalog-section-caption {
	width: 220px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: var(--basic-black);
	font-weight: normal;
	padding: 10px 19px;
	margin: 0;
	box-sizing: border-box;
}

.yellowlighty-highlight-wrapper {
	background-color: var(--basic-yellowlighty);
}

.filter-caption-wrapper {
	margin-bottom: 14px;
}

.filter {
	width: 220px;
}

.filter-type-caption {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.price-separator {
	text-align: center;
	width: 30px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--special-black);
}

.filter-price {
	padding-bottom: 25px;
	border-bottom: 1px solid var(--special-greylight);
}

.filter-price-value {
	padding: 10px 0;
	text-align: center;
	width: 95px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	background: none;
	outline: none;
	background-color: var(--basic-yellowlighty);
}

.filter-list-item {
	margin-bottom: 20px;
	padding-left: 35px;
}

.filter-label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-manufacturers {
	width: 100%;
	padding-bottom: 6px;
	border-bottom: 1px solid var(--special-greylight);
}

.filter-list-item:hover .filter-label::before,
.filter-checkbox-input:checked:hover + .filter-label::after {
	border-color: var(--special-grey-verylighty);
}

.filter-radio-input:checked:hover + .filter-label::after {
	background-color: var(--special-grey-verylighty);
}

.filter-checkbox-input + .filter-label::before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: -4px;
	left: -34px;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	border: 2px solid var(--basic-greylight);
}

.filter-checkbox-input:checked + .filter-label::after {
	content: "";
	position: absolute;
	top: -8px;
	left: -25px;
	width: 8px;
	height: 17px;
	border-bottom: 3px solid var(--basic-greylight);
	border-right: 3px solid var(--basic-greylight);
	box-shadow: inset -3px -3px 1px var(--basic-white), 3px 0 1px var(--basic-white);
	transform: rotate(44deg);
}

.filter-radio-input + .filter-label::before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: -4px;
	left: -34px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 4px solid var(--basic-greylight);
}

.filter-radio-input:checked + .filter-label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: -26px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--basic-greylight);
	transform: rotate(44deg);
}

.filter-power {
	width: 100%;
	margin-bottom: 20px;
}

.filter-power .filter-type-caption {
	margin-bottom: 23px;
	margin-top: 18px;
}

.button-show {
	background-color: var(--basic-white);
	border: 1px solid var(--basic-grey-verylighty);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 0;
	text-transform: uppercase;
	width: 220px;
}

.products {
	width: 700px;
}

.product-list {
	margin-bottom: 28px;
}

.sort-option {
	border-bottom: 1px dashed var(--basic-red);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	color: var(--basic-black);
	line-height: 18px;
	opacity: 0.3;
	text-transform: uppercase;
	text-decoration: none;
}

.sort-option:hover:not(.sort-option-active) {
	border-bottom: 1px solid var(--basic-red);
	color: var(--basic-black);
	opacity: 1;
}

li .sort-option-active {
	color: var(--basic-red);
	opacity: 1;
	text-decoration: none;
	border: none;
}

.sort-direction-up {
	transform: rotate(180deg);
}

.sort-direction:hover:not(.sort-direction-active) path {
	fill: var(--basic-black);
}

.sort-direction-active path {
	fill: var(--basic-red);
	fill-opacity: 1; 
}

input[type=checkbox]:disabled + .filter-label {
	opacity: 0.4;
}

input[type=radio]:disabled + .filter-label {
	opacity: 0.4;
}	

.pagination li:not(:first-child) {
	margin-left: 10px;
}

.pagination-button {
	padding: 10px 15px;
	text-align: center;
	background-color: var(--basic-white);
	border: 1px solid var(--basic-grey-verylighty);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border-radius: 2px;
	text-transform: uppercase;
}

.pagination-button:hover {
	border-color: var(--basic-greylight);
}

.pagination-button:active {
	border-color: var(--basic-red);
}

.pagination-button-next {
	width: 140px;
}

.pagination-button-active {
	background-color: var(--basic-red);
	color: var(--basic-white);
	border: none;
	box-sizing: border-box;
}

.about-products {
	margin-top: 59px;
	padding-top: 64px;
	padding-bottom: 68px;
	background-color: var(--basic-greylighty);
}

.slider-product {
	grid-row: 2 / span 2;
	grid-column: 1 / span 2;
	width:	620px;
	height: 266px;
	position: relative;
}

.slider-controls {
	padding: 19px 25px 27px;
	position: absolute;
    height: 61%;
    width: 100%;
    box-sizing: border-box;
}

.slider-show-catalog {
	position: absolute;
	bottom: 27px;
	left: 25px;
}

.slider-previous-button {
	position: absolute;
	top: 19px;
	left: 25px;
	height: 40px;
	width: 22px;
	background-image: url("../img/slider-arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.slider-next-button {
	position: absolute;
	top: 18px;
	right: 22px;
	height: 40px;
	width: 22px;
	background-image: url("../img/slider-arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.slide-show-wrapper {
	position: absolute;
	bottom: 35px;
	left: 294px;
}

.tabs-services {
	margin-top: 70px;
}

.tabs-service-list {
	position: relative;
}

.tabs-service-list::after {
	content: "";
	width: 10px;
	height: 279px;
	position: absolute;
	top: -50px;
	right: 0;
	background-image: url('../img/tab-list-shadow.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.slider-show-button:not(:first-child) {
	margin-left: 12px;
}

.slider-show-button {
	position: relative;
	background-color: var(--basic-white);
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.slider-show-button-active::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--basic-red);
}

.slide-perforators {
	background-image: url("../img/perforators.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.slide-drills {
	background-image: url("../img/drills.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.slide-delivery {
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 150px 20px;
}

.slide-credit {
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.slide-credit .attention-link {
	margin-top: 31px;
}

.slide-guarantee {
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.tab-service-content {
	width: 620px;
	height: 285px;
}

.logo-wrapper {
	width: 220px;
	height: 47px;
	display: flex;
	justify-content: center;
	background: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--basic-greytranslucent);
}

.logo-left-position {
	position: absolute;
	left: 0;
}

.logo-wrapper:active {
	background-color: var(--special-red);
} 

.header-logo {
	margin-top: 13px;
}

.footer-logo {
	margin-top: 21px;
}

.footer-logo-resize {
	height: 68px;
}

.filter-item {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	margin-top: 11px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 9px;
	padding: 39px 20px 0 20px;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--special-iron);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--special-greenlight);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--basic-grey-middlelight);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--special-grey-verylight);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.modal {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-top: 7px solid var(--basic-red);
	background-color: var(--basic-white);
	filter: drop-shadow(0 4px 20px var(--special-greytranslucent));
}

.modal-close {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 9px;
	left: -3px;
	width: 27px;
	height: 4px;
	background-color: var(--basic-red);
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-show {
	animation: bounce 0.6s;
}

.modal-map {
	width: 943px;
	height: 449px;
}

.modal-write-us {
	width: 620px;
	height: 430px;
}

.modal-content {
	padding: 39px 80px 37px;
}

.modal-content p {
	margin: 0;
}

.modal-actions {
	padding: 37px 80px;
	background-color: var(--special-yellowlighty);
}

.input-label {
	display: block;
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal
}

.form-input {
	width: 220px;
	box-sizing: border-box;
	padding: 7px 8px 7px 12px;
	border: 2px solid var(--basic-greylight);
	border-radius: 2px;
	margin-bottom: 13px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.form-input::placeholder {
	color: var(--special-greydarky);
}

.input-textarea {
	resize: none;
	width: 460px;
	height: 114px;
	margin: 0;
}

.modal-action-button {
	width: 100%;
	background-color: var(--basic-red);
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
}

.modal-cancel-button {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.modal-action-button:not(:first-child) {
	margin-left: 10px;
}

.modal-add-into-cart {
	width: 620px;
	height: 282px;
}

.modal-add-into-cart .modal-action-button {
	width: 192px;
}

.modal-add-into-cart h2 {
	position: relative;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.modal-add-into-cart h2::before {
	content: "";
	width: 66px;
	height: 66px;
	top: -20px;
	left: -90px;
	position: absolute;
	background-image: url("../img/icon-mark.svg");
}

.shake {
	animation: shake 0.6s;
}

@keyframes bounce {
	0% {
	  transform: translateY(-2000px);
	}
  
	70% {
	  transform: translateY(30px);
	}
  
	90% {
	  transform: translateY(-10px);
	}
  
	100% {
	  transform: translateY(0);
	}
  }

  @keyframes shake {
	0%,
	100% {
	  transform: translateX(0);
	}
  
	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translateX(-10px);
	}
  
	20%,
	40%,
	60%,
	80% {
	  transform: translateX(10px);
	}
  }